{{ $footerClass := "" }} 
{{ with or (.Param "twClasses.footerBackground") (.Param "twClasses.headerBackgroundFrameOuter") (.Param "headerGradientClasses")}}
{{ $footerClass = . }}
{{ end }}


<footer class=" w-full mt-auto py-12 {{ $footerClass }} ">
    <div class="flex flex-col items-center w-full">
      <div class="flex text-xl">
        {{- partial "utils/socialslist.html" . }}
      </div>
      <div class="px-2 text-sm text-center">
        {{- with .Site.Copyright | safeHTML }}
        <p class="flex items-center">{{ . }}</p>
        {{- end }}
        {{- partial "utils/attribution.html" . }}
      </div>
      {{/*  <div class="py-4 px-2 text-sm">
        {{- partial "menu.html" (dict "menuID" "footer" "page" .) }} 
        {{ if .Site.Params.footer.tagCloud }}
          <div class="pt-4"> {{- partial "utils/taxonomy-string.html" . }} </div>
        {{ end }}
      </div>  */}}
      {{- if (.Param "showDarkToggle") }}
        {{- partial "utils/dark-toggle.html" . }}
      {{- end }}
  </div>
</footer>
