<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="{{ if .Site.Params.showDarkToggle }}dark:bg-gray-900{{ end }}">
<head>
    <meta charset="utf-8">
    {{ partial "head/head.html" . }}
    {{ block "head" . }}{{ end }}
</head>
<body class="flex flex-col min-h-screen {{ if .Site.Params.showDarkToggle }}dark:bg-gray-900 dark:text-white transition-colors duration-300{{ end }}">
    {{ partial "nav-centered.html" . }}
    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
    {{ block "scripts" . }}{{ end }}
</body>
</html>
